<div class="container">
    <h1>{{ developer.name }}</h1>
    <hr>
    <h3>{{ developer.location || 'Location' }}</h3>
    <h6>Developer: {{ developer.fee || '00' }}</h6>

    <div *ngIf="developer.image">
        <img 
            [src]="image" 
            [alt]="developer.image.url" 
            style="width: 250px;">
        <h6>{{ developer.image.name }}</h6>
    </div>
    <br>
    <div>
        <button 
            class="btn btn-primary me-2 px-3"
            (click)="onEdit()"
        >Edit</button>
        <button 
            class="btn btn-danger"
            (click)="onDelete()"
        >Delete</button>
    </div>
</div>
